#code-time {
	/*border-right: 1px solid #66CCCC;*/
	padding-left: 10%;
}
#code-location {
	padding-left: 10%;
}
#event-title {
	margin-top: 5%;
	padding-left: 10%;
}
#event-title a {
	color: #000;
}
#panel-header-style {
	background: #7E57C2;
	color: #fff;
}
#navigation-header {
	background: #4285f4;
}
#navigation-header a {
	color: #fff;
}
.readmore {
	background: #7E57C2;
	padding: 10px;
}
#go-button {
	background: #66CCCC;
	padding: 7px;
	color: #fff;
	border: 1px solid #66CCCC;
}
.readmore a {
	color: #fff;
}
#readmore-style {
	padding-top: 8%;
	padding-left: 10%;
}

/*Event Details Page*/
.event-heading {
	background: none;
	font-weight: bold;
	padding: 10px;
	color: #000;
	font-size: 20px;
}
.breadcrumb {
	background: none;
}
.spacing {
	padding-left: 20px;
}
/* Sticky footer styles
-------------------------------------------------- */
.footer {
  bottom: 0;
  width: 100%;
  color: #fff;
  height: 40px;
  background-color: #4285f4;
}
/*Add Event*/
#form-style {
	padding-left: 10%;
	padding-bottom: 2.5%;
}
#go-button {
	margin-top: 1%;
}
#suntech a {
	color: #fff;
}